*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #222;
    color: #fff;
    font-family: sans-serif;
}
main{
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    list-style-type: "";
}
main h1{
    text-align: center;
}
.pelicula-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pelicula-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .pelicula-card h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .pelicula-card button {
    background-color: #62ca42;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pelicula-card button:hover {
    background-color: #3071a9;
  }
  button {
    appearance: none;
    background-color:rgba(255, 255, 255, 0.5);
    border: 0.125em solid hsl(0, 0%, 100%);
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1em;
    min-width: 0;
    outline: none;
    padding: 1em;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #000;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }
   input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    margin: auto;
   }
   
   input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   
  #lista.oculto {
    display: none;
  }
  .oculto {
    display: none;
  }
 /* Estilos para la barra de navegaci贸n */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  height: 100px;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
nav img{
  height: 100px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/* Estilos para el input de b煤squeda */
.buscar-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* Estilos para el contenedor de los resultados */
.resultados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.pelicula {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.pelicula img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.pelicula strong {
  display: block;
  font-weight: bold;
}

/* Estilos para el panel lateral */
.panel-lateral {
  position: fixed;
  top: 0;
  right: -300px; /* El panel estar谩 oculto al principio */
  width: 300px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  transition: right 0.3s ease; /* Agregamos una transici贸n suave al abrir y cerrar el panel */
  z-index: 1; /* Asegurarse de que el panel se muestre por encima de otros elementos */
    right: -300px; /* El panel estar谩 oculto al principio */
}

/* Estilos para la lista de pel铆culas en el carrito */
#carritoLista {
  list-style-type: "";
  padding: 0;   
}

#carritoLista li {
  margin-bottom: 10px;
}

/* Estilos para la notificaci贸n con Toastify */
.mi-notificacion {
  color: #000;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para el contenedor de los resultados */
.resultados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

/* Estilos para cada pel铆cula en los resultados */
.pelicula {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, .5);
}

/* Estilos para el bot贸n de agregar al carrito */
.pelicula button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color:#8707ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Estilos para el panel lateral del carrito */
.panel-lateral {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f9f9f9;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

/* Estilos para el bot贸n de cerrar el panel lateral */
.cerrar-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos para el t铆tulo del carrito */
.panel-lateral h2 {
  text-align: center;
}

/* Estilos para la lista del carrito */
.carrito-lista {
  list-style-type: "";
  padding: 0;
}

/* Estilos para cada elemento del carrito */
.carrito-lista li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

/* Estilos para los botones en el panel lateral */
.panel-lateral .botones, .boton-verde {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: none;
  cursor: pointer;
}
.panel-lateral .botones:hover{
  background-color: rgb(210, 0, 0);
}
.panel-lateral .boton-verde:hover{
  background-color: rgb(44, 176, 0);
}
/* Estilos para el bot贸n de enviar lista */
.enviar-lista {
  background-color: #28a745;
}

/* Estilos para el bot贸n de vaciar carrito */
.vaciar-carrito {
  background-color: #dc3545;
}
.button {
  position: relative;
  width: 6em;
  height: 4em;
  border: none;
  background-color: #222;
}

.X {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: rotate(45deg);
}

.Y {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 2em;
  height: 1.5px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40%;
  left: 70%;
  width: 3em;
  height: 1.7em;
  font-size: 16px;
  background-color: rgb(254, 255, 225);
  color: #000;
  border: 1px solid #000;
  pointer-events: none;
  opacity: 0;
}

.button:hover {
  background-color: rgb(210, 0, 0);
}

.button:active {
  background-color: rgb(130, 0, 0);
}

.button:hover > .close {
  animation: close 0.2s forwards 1.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}
.buscar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8707ff;
  background-color: #212121;
  width: 70px;
  height: 70px;
  font-size: 24px;
  text-transform: uppercase;
  border: 2px solid #212121;
  border-radius: 50%;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    -3px -3px 2px rgba(255, 255, 255, 0.05),
    -2px -2px 1px rgba(255, 255, 255, 0.05);
          box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
    2px 2px 2px rgba(0, 0, 0, 0.1),
    -3px -3px 2px rgba(255, 255, 255, 0.05),
    -2px -2px 1px rgba(255, 255, 255, 0.05);

  overflow: hidden;
  cursor: pointer;
}

.buscar .span{
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.buscar::before {
  content: "";
  position: absolute;
  background-color: #8707ff;
  width: 150%;
  height: 150%;
  left: 0%;
  bottom: 0%;
  -webkit-transform: translate(-100%, 100%) rotate(45deg);
      -ms-transform: translate(-100%, 100%) rotate(45deg);
          transform: translate(-100%, 100%) rotate(45deg);
  border-radius: 15px;
}

.buscar:hover::before {
  -webkit-animation: shakeBack 0.6s forwards 0.6s;
          animation: shakeBack 0.6s forwards 0.6s;
}

.buscar:hover .span{
  scale: 1.2;
}

.buscar:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buscar:active{
  scale: 0.95;
}

@-webkit-keyframes shakeBack {
  0% {
    -webkit-transform: translate(-100%, 100%) rotate(45deg);
            transform: translate(-100%, 100%) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(15%, -15%) rotate(45deg);
            transform: translate(15%, -15%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-10%, 10%) rotate(45deg);
            transform: translate(-10%, 10%) rotate(45deg);
  }
}

@keyframes shakeBack {
  0% {
    -webkit-transform: translate(-100%, 100%) rotate(45deg);
            transform: translate(-100%, 100%) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(15%, -15%) rotate(45deg);
            transform: translate(15%, -15%) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-10%, 10%) rotate(45deg);
            transform: translate(-10%, 10%) rotate(45deg);
  }
}
